# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

Memoria_Practica3.pdf
OlivierJalil_JuanArquero.zip
*.docx
~$_ArqueroJalil.docx

./Master/Otros archivos/*